* {
	font-family: 'Courier New', Courier, monospace;

	margin: 0;
	padding: 0;
}

body {
	height: 100vh;

	display: grid;
	grid-template-columns: clamp(15rem, 20%, 25rem) 1fr;
}

.sidebar {
	display: grid;
	grid-template-rows: 10% 1fr;

	min-width: min-content;
}

.logo {
	display: grid;
	place-items: center;
	
	background-color: rgb(226, 226, 226);
}

.logo span {
	text-align: center;
	max-width: 18ch;
	font-size: 1.5rem;
	font-style: italic;
}

.lists-section {
	display: grid;
	grid-template-rows: 10% 5% 1fr;

	background-color: rgb(245, 245, 245);
}

.lists-header {
	display: grid;
	place-items: center;
}

.lists-header span {
	position: relative;
	top: 1.5rem;

	font-weight: 800;
	font-size: 2rem;
}

.list-button-section {
	display: grid;
	place-items: center;
}

button.new-list,
button.new-todo {
	padding: 0.25rem;

	width: min-content;
	height: min-content;

	display: grid;
	place-items: center;
	grid-template-columns: 2.5rem 1fr;
}

button img {
	margin: 0.5rem;
}

.new-list-button-text,
.new-todo-button-text {
	text-wrap: nowrap;
	font-size: 1.5rem;
}

.active-list-section {
	display: grid;
	grid-template-rows: 10% 1fr;

	min-width: 80%;
}

.active-list-header {
	background-color: rgb(245, 245, 245);
}

.lists {
	padding-top: 1rem;
	padding-left: 2rem;

	display: flex;
	flex-direction: column;
	gap: 1.5rem;

	list-style: none;
}

.lists li {
	display: flex;
	gap: 1rem;
}

.lists li:before {
	content: "⏺︎";
}

.li-content {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.li-content button {
	width: min-content;
	text-wrap: nowrap;
}

.active-list-header {
	display: grid;
	place-items: center;
}

.active-list-name {
	display: grid;
	place-items: center;

	font-size: 2rem;
	font-weight: 800;
}

.active-list-content {
	padding: 2rem 2rem 0 2rem;

	display: grid;
	grid-auto-rows: 1rem;
	gap: 2.5rem;
	justify-content: center;
}

button.new-todo {
	place-self: center;
}

.todo {
	height: min-content;
	width: min-content;

	display: grid;
	grid-template-rows: 2rem 1fr;
	grid-template-columns: 2rem 40ch 12ch 12ch 4rem 4rem;
	column-gap: 3rem;
	row-gap: 1rem;

	-webkit-box-shadow: 0px 2px 0px 0px rgba(148,148,148,1);
	-moz-box-shadow: 0px 2px 0px 0px rgba(148,148,148,1);
	box-shadow: 0px 2px 0px 0px rgba(148,148,148,1);
}

.todo input {
	margin: 0.25rem;
	accent-color: black;
}

.todo-name {
	width: 40ch;
	
	display: flex;
	align-items: center;
}

.name {
	font-weight: 800;
}

.todo-priority,
.todo-due-date {
	width: 12ch;
}

.todo-info,
.todo-buttons {
	display: flex;
	gap: 0.5rem;
}

.todo button {
	width: 4rem;
}

.todo-desc {
	grid-column: 1 / 7;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 100%;

	cursor: default;
}

.todo-desc:hover {
	text-wrap: wrap;
	overflow: visible;
}