* {
	font-family: 'Courier New', Courier, monospace;

	margin: 0;
	padding: 0;
}

body {
	height: 100vh;

	display: grid;
	grid-template-columns: clamp(15rem, 20%, 25rem) 1fr;
}

.sidebar {
	display: grid;
	grid-template-rows: 10% 1fr;

	min-width: min-content;
}

.logo {
	display: grid;
	place-items: center;
	
	background-color: rgb(226, 226, 226);
}

.logo span {
	text-align: center;
	max-width: 18ch;
	font-size: 1.5rem;
	font-style: italic;
}

.lists-section {
	display: grid;
	grid-template-rows: 10% 5% 1fr;

	background-color: rgb(245, 245, 245);
}

.lists-header {
	display: grid;
	place-items: center;
}

.lists-header span {
	position: relative;
	top: 1.5rem;

	font-weight: 800;
	font-size: 2rem;
}

.list-button-section {
	display: grid;
	place-items: center;
}

button.new-list,
button.new-todo {
	padding: 0.25rem;

	width: min-content;
	height: min-content;

	display: grid;
	place-items: center;
	grid-template-columns: 2.5rem 1fr;
}

button img {
	margin: 0.5rem;
}

.new-list-button-text,
.new-todo-button-text {
	text-wrap: nowrap;
	font-size: 1.5rem;
}

.lists {
	padding-top: 1rem;
	padding-left: 2rem;

	display: flex;
	flex-direction: column;
	gap: 1.5rem;

	list-style: none;
}

.lists li {
	display: flex;
	gap: 1rem;
}

.lists li:before {
	content: "⏺︎";
}

.li-content {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.li-content button {
	width: min-content;
	text-wrap: nowrap;
	padding: 0.15rem;
}

.list-name {
	display: inline-block;
	max-width: 18ch;
	overflow-wrap: break-word;
}

.list-name:hover {
	color: grey;
	cursor: pointer;
}

.active-list-section {
	display: grid;
	grid-template-rows: 10% 1fr;

	min-width: 80%;
}

.active-list-header {
	background-color: rgb(245, 245, 245);

	display: grid;
	place-items: center;
}

.active-list-name {
	display: grid;
	place-items: center;

	font-size: 2rem;
	font-weight: 800;
}

.active-list-content {
	padding: 2rem 2rem 0 2rem;

	display: flex;
	flex-direction: column;
	gap: 2rem;
	align-items: center;
}

button.new-todo {
	display: none;
	place-self: center;
}

.todo {
	height: min-content;
	width: min-content;

	display: grid;
	grid-template-rows: 2rem 1fr;
	grid-template-columns: 2rem 40ch 12ch 12ch 4rem 4rem;
	column-gap: 3rem;
	row-gap: 1rem;

	-webkit-box-shadow: 0px 2px 0px 0px rgba(148,148,148,1);
	-moz-box-shadow: 0px 2px 0px 0px rgba(148,148,148,1);
	box-shadow: 0px 2px 0px 0px rgba(148,148,148,1);
}

.todo input {
	margin: 0.25rem;
	accent-color: black;
}

.todo-name {
	width: 40ch;
	
	display: flex;
	align-items: center;
}

.name {
	max-width: 40ch;
	overflow-wrap: break-word;
	font-weight: 800;
}

.todo-priority,
.todo-due-date {
	width: 12ch;
}

.todo-priority.high {
	color: rgb(235, 28, 28);
}

.todo-priority.medium {
	color: rgb(231, 228, 20);
}

.todo-priority.low {
	color: rgb(30, 238, 64);
}

.todo-info,
.todo-buttons {
	display: flex;
	gap: 0.5rem;
}

.todo button {
	width: 4rem;
}

.todo-desc {
	grid-column: 1 / 7;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 100%;

	cursor: default;
}

.todo-desc:hover {
	text-wrap: wrap;
	overflow: visible;
}

dialog:not([open]) {
	display: none;
}

dialog {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);

	padding: 1rem;
}

.new-list-modal form {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-columns: 1fr 5rem 5rem 1fr;
	gap: 0.5rem;
	place-items: center;
}

.new-list-modal label {
	grid-area: 1 / 2 / 2 / 4;
	place-self: end center;
}

.new-list-modal input[type=text] {
	grid-area: 2 / 1 / 3 / 5;
}

.new-list-modal button,
.new-list-modal input[type=submit] {
	width: 4rem;
	height: 1.5rem;
	place-self: center;
}

.new-list-modal .submit-new-list {
	grid-area: 3 / 2 / 4 / 3;
}

.new-list-modal .cancel {
	grid-area: 3 / 3 / 4 / 4;
}

.todo-modal {
	padding: 1rem;
}

.todo-modal form {
	display: grid;
	grid-template-rows: 1fr 3fr 1fr;
	grid-template-columns: 8rem repeat(3, 1fr);
	gap: 1.5rem;
}

.todo-modal div {
	display: flex;
	flex-direction: column;
}

.todo-modal .todo-modal-complete {
	flex-direction: row;
	gap: 0.5rem;
}

.todo-modal-complete label {
	display: flex;
	align-items: center;
}

.todo-modal-desc {
	grid-area: 2 / 1 / 3 / 5;

	display: flex;
	flex-direction: column;
}

.todo-modal-desc textarea {
	flex: 1;
	resize: none;
}

.todo-modal .todo-modal-buttons {
	grid-area: 3 / 4 / 4 / 5;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.todo-modal-buttons * {
	height: min-content;
	width: 5rem;
}